{% extends 'layout.html.twig' %}

{% block content %}

  <div class="table">
  <h1>Add new vehicle</h1>
    {% include 'Vehicle/_form.html.twig' %}
       <a href="/vehicle/index"><button class="btn-back">Annuler</button></a>
    </div>
{% endblock %}



